<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% include "_import/head.html.twig" %}
		<title>
			{% block title %}
				Accueil
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>

	<body>
		{% block header %}
			{% include "_navigation/header.html.twig" %}
		{% endblock %}

		{% block body %}{% endblock %}
	</body>

	{% block script %}
		{% include "_import/foot.html.twig" %}
	{% endblock %}
</html>
